# Ignore Python cache files and directories
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/

# Ignore environment variables file
.env

# Ignore Chroma persistence directory
chromas/

data/

plots/